<!DOCTYPE html>
<html lang="en">
<head>
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- underscore.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- google charts cdn -->
    <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
    <!-- canvasjs cdn -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <!-- bootstrap.js cdn -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="chart_container"></div>

        <div id="zoom_container">
            <div id="button_container">
                <h3 id="zoom_grid_title">Zoom (0)</h3>
                <button id="reset_button" class="undo_button">
                    Reset
                </button>
                <button id="zoomout_button" class="undo_button">
                    Zoom Out
                </button>
                <div id="zoom_grid">
                    <button class="zoom_button" id="zoom_q2">2</button>
                    <button class="zoom_button" id="zoom_q1">1</button>
                    <button class="zoom_button" id="zoom_q3">3</button>
                    <button class="zoom_button" id="zoom_q4">4</button>
                </div>
            </div>
        </div>
    </div>

    <!-- import geojson_vt library -->
    <script src="../js/geojson_vt_src/index.js"></script>
    <script src="../js/geojson_vt_src/convert.js"></script>
    <script src="../js/geojson_vt_src/simplify.js"></script>
    <script src="../js/geojson_vt_src/feature.js"></script>
    <script src="../js/geojson_vt_src/wrap.js"></script>
    <script src="../js/geojson_vt_src/clip.js"></script>
    <script src="../js/geojson_vt_src/tile.js"></script>

    <!-- no dependencies -->
    <script src="../js/custom_vt/geometry.js"></script>

    <!-- no dependencies -->
    <script src="../js/custom_vt/quadrant.js"></script>

    <!-- no dependencies (yet) -->
    <script src="../js/custom_vt/transform.js"></script>

    <!-- no dependencies -->
    <script src="../js/custom_vt/minHeap.js"></script>
    <!-- no dependencies -->
    <!--<script src="../js/custom_vt/rdp_simplify.js"></script>-->

    <script src="../js/custom_vt/dynamicVW.js"></script>

    <script src="../js/custom_vt/clip.js"></script>
    <script src="../js/custom_vt/tile.js"></script>

    <script src="../js/custom_vt/vectorTiler.js"></script>
    <script src="../js/charting/canvas_functions.js"></script>
    <!--<script src="../js/google_charts/charting_functions.js"></script>-->

    <script src="../js/demo.js"></script>
</body>
</html>
