<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/demo.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div id="chart_div"></div>

    <!-- import geojson_vt library -->
    <script src="../js/geojson_vt_src/index.js"></script>
    <script src="../js/geojson_vt_src/convert.js"></script>
    <script src="../js/geojson_vt_src/simplify.js"></script>
    <script src="../js/geojson_vt_src/feature.js"></script>
    <script src="../js/geojson_vt_src/wrap.js"></script>
    <script src="../js/geojson_vt_src/clip.js"></script>
    <script src="../js/geojson_vt_src/tile.js"></script>

    <!-- no dependencies -->
    <script src="../js/custom_vt/geometry.js"></script>
    <!-- no dependencies -->
    <script src="../js/custom_vt/quadrant.js"></script>

    <script src="../js/custom_vt/clip.js"></script>
    <script src="../js/custom_vt/tile.js"></script>
    <script src="../js/google_charts/charting_functions.js"></script>
    <script src="../js/demo.js"></script>
</body>
</html>
